.footer-wrap {
  padding: 48px 0 32px;
}

.footer-item {
  margin-top: 32px;
}

.footer-end {
  margin-top: 32px;
}

.footer-logo {
  width: 100%;
  opacity: 0.18;
}

.footer-brand {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.4s ease;

  &:hover {
    background-color: #f1f1f1;
  }
}

@media (min-width: 992px) {
  .footer-item {
    margin-top: 0;
  }
}
