.input-group {
  display: flex;
  padding-right: 14px;

  position: relative;
}

.select-input {
  display: inline-block;
  font-size: 1.6rem;
  border: none;
  outline: none;
  padding: 14px 16px;
}

.select-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rotate-90 {
  transform: rotate(90deg);
}

.select-list {
  width: calc(100% + 1px);
  position: absolute;
  z-index: 1;
  list-style: none;
  padding-left: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: var(--bg-white);
  border: 1px solid var(--border-gray);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  display: none;
}

.input-group:focus .select-list,
.select-input:focus ~ .select-list {
  display: block;
}

.select-item {
  margin-top: 0;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}
.select-item:hover {
  background-color: rgb(242 242 242);
}
.select-item.active {
  background-color: rgb(242 242 242);
}
