.dashboard-item {
  border-radius: 12px;
}

.dashboard-item-icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #fff;
}
